<div class="row">
  <h2>
    <span class="col-sm-10">Manage Platform</span>
    <span class="col-sm-2">
      <%= link_to 'Create Position', new_admin_issue_path, class: 'btn btn-primary' %>
    </span>
  </h2>
</div>

<div>
  <div class='row issue-header'>
    <div class="col-md-4">
      <h4>Title</h4>
    </div>
    <div class="col-md-8">
      <h4>Position</h4>
    </div>
  </div>
  <%- @issues.all.each do |issue| %>
  <div class='row issue'>
    <div class="col-md-4">
      <%= issue.title %>
    </div>
    <div class="col-md-4">
      <%= issue.opinion %>
    </div>
    <div class="col-md-4">
      <%= link_to "Edit", edit_admin_issue_path(issue.id) %> / <%= link_to "Delete", admin_issue_path(issue.id), method: :delete %>
    </div>
  </div>
  <%- end %>
</div>
