<h2>Admin Page</h2>

<p> As an administrator you are given special privileges to help manage the application.</p>
<p>You now have the ability to perform the following actions:</p>

<dl>
  <dt><%=link_to "Manage User Roles", admin_roles_path %>:</dt>
  <dd>Add and remove roles from users within the application.</dd>

  <dt><%=link_to "Manage Pages", admin_pages_path %>:</dt>
  <dd>Manage your custom pages.</dd>

  <dt><%=link_to "Manage Platform", admin_issues_path %>:</dt>
  <dd>Manage your platform issues.</dd>

  <dt><%=link_to "Manage Feedback", admin_feedback_index_path %>:</dt>
  <dd>Manage your platform issues.</dd>

  <dt><%=link_to "Manage Volunteers", admin_volunteers_path %>:</dt>
  <dd>Manage your platform issues.</dd>

</dl>
