<div class="row">
  <div class="col-md-12">
    <ul>
      <li>Name: <%= volunteer.user.name %></li>
      <li>Email: <%= volunteer.user.email %></li>
      <li>Phone Number: <%= volunteer.user.phone %></li>
      <li>Employer: <%= volunteer.employer %></li>
      <li>Job Title: <%= volunteer.job_title %></li>
      <li>Interests: <%= volunteer.interests %></li>
      <li>Volunteered Skill: <%= volunteer.volunteer_profile %></li>
    </ul>
  </div>
</div>
