<div class="row">
  <div class="col-sm-7 center box log-in-box">
    <h2 class="page-header">Forgot Password</h2>

    <%= form_tag( "/users/forgot-password/", { class: 'form-horizontal' } ) do %>
    <fieldset>

      <div class="form-group">
        <%= label_tag :email, 'Email', { class: 'col-sm-3 control-label', for: 'email' } %>
        <div class="col-sm-7">
          <%= text_field_tag :email, nil, { class: 'form-control input-md', required: '' } %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :submit, '', { class: 'col-sm-3 control-label', for: 'submit' } %>
        <div class="col-sm-6">
          <%= submit_tag "Reset Password", { class: 'col-sm-6 btn btn-primary' } %>
        </div>
      </div>

    </fieldset>
    <% end %>
  </div>
</div>

