<div class="row">
  <div class="col-sm-7 center box log-in-box">
    <h2 class="page-header">Sign Up</h2>

    <%= form_tag( '/auth/identity/register', { class: 'form-horizontal' } ) do %>
    <fieldset>
      <div class="form-group">
        <%= label_tag :email, 'Email', { class: 'col-sm-3 control-label', for: 'email' } %>
        <div class="col-sm-7">
          <%= text_field_tag :email, params[:email], { placeholder: "@#{ENV['SITE_DOMAIN']}", class: 'form-control input-md', required: '' } %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :username, 'Username', { class: 'col-sm-3 control-label', for: 'username' } %>
        <div class="col-sm-7">
          <%= text_field_tag :username, params[:username], { class: 'form-control input-md', required: '' } %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :password, 'Password', { class: 'col-sm-3 control-label', for: 'password' } %>
        <div class="col-sm-7">
          <%= password_field_tag :password, nil, { class: 'form-control input-md', required: '' } %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :password_confirmation, 'Confirm Password', { class: 'col-sm-3 control-label', for: 'password_confirmation' } %>
        <div class="col-sm-7">
          <%= password_field_tag :password_confirmation, nil, { class: 'form-control input-md', required: '' } %>
        </div>
      </div>

      <% if ENV['DEMO_MODE'] == 'true' %>
      <div class="form-group">
        <%= label_tag :is_admin, 'Make user admin?', { class: 'col-sm-3 control-label', for: 'is_admin' } %>
        <div class="col-sm-1">
          <%= check_box_tag :is_admin, true, false, { class: 'checkbox', checked_value: '1', unchecked_value: '0' } %>
        </div>
      </div>
      <% end %>

      <div class="form-group">
        <%= label_tag :submit, '', { class: 'col-sm-3 control-label', for: 'submit' } %>
        <div class="col-sm-9">
          <%= submit_tag "Register", { class: 'col-sm-3 btn btn-primary' } %>
        </div>
      </div>

    </fieldset>
    <% end %>
  </div>
</div>
